/* iframe */

div.PrimoApiAjax iframe {
	width: 500px;
	height: 100px;
	border: none;
	background: #fff;
	padding: 0 1em;
}

div.PrimoApiAjax {
	border: 1px solid #888;
	/*width: 720px;*/ /*100%;*/
	min-width: 300px;
	display: inline-block;
/*	height: 250px;*/
/*	background: #fff url('tpl/KDK_fin_juhla_rgb.png') no-repeat center center;*/
	margin: 0;
	padding: 10px 0;
	background: #fff;;
	font-style: verdana, arial, sans-serif;
	font-size: 12px;
	overflow: hidden;
	line-height: 1.1;
	position: relative;
	top: 0;
	left: 0;
}

div.PrimoApiAjax_review {
	width: 100px;
}

div.PrimoApiAjax div.PrimoApiAjaxNotice {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: .5em 1em;
	background-color: #aff;
	color: #000;
	letter-spacing: .1em;
	z-index: 100;
}

div.PrimoApiAjax table.PrimoApiAjaxResults {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

div.PrimoApiAjax td.PrimoApiAjaxRecord {
	vertical-align: top;
	width: 20%;
	border-spacing: 1px;
	border: 1px solid #fff;
	/*width: 150px;*/
	text-align: center;
	padding: 0 10px;
/*	background: #fff url('img/background_record.png') repeat-x 0 0;*/
	background-color: #fff;
	background-repeat: repeat-x; /* image set in js */
	background-position: 0 0;
	overflow: hidden;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord a {
	color: #000;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord a:hover span {
	text-decoration: underline;
	color: #222;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordImage {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
	height: 150px;
	overflow: hidden;
	z-index: 30;
/*	background: url('tpl/noimage.png') no-repeat 0 0;*/
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordImage img {
	width: 100px;
	height: auto;
/*	height: 150px; 
	width: auto;*/
}
div.PrimoApiAjax td.PrimoApiAjaxRecord a img {
	border: 1px solid #fff;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord a:hover img {
	border-color: #888;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord span {
	display: block;
	margin-top: 2px;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord span.PrimoApiAjaxRecordCreator {
	font-weight: bold;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordContainer {
	position: relative;
	top: 0;
	left: 0;
	width: 100px;
/*	width: 120px;*/
	margin: 0 auto;
	z-index: 10;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordContainer div.PrimoApiAjaxRecordImage {
	position: relative;
	top: 0px;
	left: 0px;
}
	
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordContainer div.PrimoApiAjaxRecordImage img {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordContainer div.PrimoApiAjaxRecordImage a.PrimoApiAjaxRecordExternalLink {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 50;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-decoration: none;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxRecordContainer div.PrimoApiAjaxRecordImage a.PrimoApiAjaxRecordExternalLink:hover {
	text-decoration: underline;
}
/*div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxImageContainer a.PrimoApiAjaxRecordGooglePreview {
	display: inline-block;
	height: 150px;
	width: 120px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #fff;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxImageContainer a.PrimoApiAjaxRecordGooglePreview img {
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: 0px;
	z-index: 20;
}
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxImageContainer a.PrimoApiAjaxRecordGooglePreview:hover img {
	bottom: 5px;
}*/
/*
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxImageContainer a.PrimoApiAjaxGooglePreview:hover img {
	position: absolute;
	top: 0px;
	right: -10px;
	border: 0px;
}*/
div.PrimoApiAjax td.PrimoApiAjaxRecord div.PrimoApiAjaxDetails {
/*	display: block;
	position: relative;
	top: 170px;*/
	font-style: verdana, arial, sans-serif;
	font-size: 12px;
	position: relative;
	top: 15px;
	left: 0;
	background-color: #efefef;
	margin: 0 -12px;
	padding: 5px;
	min-height: 7em;
	z-index: 40;
}
div.PrimoApiAjax ul.PrimoApiAjaxReviews {
	list-style: none outside;
	margin: 1em 0 0;
	padding: 0;
	text-align: center;
}
form.PrimoApiAjax {
	float:left;
	width: 95%;
	padding: .5em .5em 0;
}
form.PrimoApiAjax fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
form.PrimoApiAjax div.PrimoApiAjax_SearchLink {
	float:right;
	margin-top: .5em;
}
form.PrimoApiAjax a {
	color: #000;
	text-decoration: none;
	font-size: 11px;
}
form.PrimoApiAjax a:hover {
	text-decoration: underline;
}

/*div.PrimoApiAjax ul.PrimoApiAjaxReviews li {
	display: inline;
}*/
/*
div.PrimoApiAjax td.PrimoRecord div.imagecontainer a.PrimoGooglePreview:hover img {
}*/
/*img.syndetics, img.amazon { display: none; }*/
